<div class="container mt-4">
  <h1>Interest Calculator</h1>
  <form>
    <div class="mb-3">
      <label for="amt">Enter Amount</label>
      <input [(ngModel)]="cal.amt" name="amt" id="amt" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="rate">Enter Rate</label>
      <input
        [(ngModel)]="cal.rate"
        name="rate"
        id="rate"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="time">Enter Time</label>
      <input
        [(ngModel)]="cal.time"
        name="time"
        id="time"
        class="form-control"
      />
    </div>
  </form>
  <div class="result mt-3">
    <div>Amount: {{ cal.amt }}</div>
    <div>Rate: {{ cal.rate }}</div>
    <div>Time: {{ cal.time }}</div>
    <div>Interest: {{ (cal.amt * cal.time * cal.rate) / 100 }}</div>
  </div>
</div>
